/* 
  
    O código de cores é baseado no "Sistema Geral de Graduação" da IBJJF, atualizado 
    em Dez/2025 e pode ser encontrado através da URL: https://cbjj.com.br/graduation-system 

    TABELA DE CORES (HEXADECIMAL):
    Branca: #FFFFFF
    Cinza: #939597
    Amarela: #FECA04
    Laranja: #E07E26
    Verde: #007F3D
    Azul: #1890B9
    Roxa: #80298F
    Marrom: #602D11
    Preta: #000000
    Vermelha: #B01116

    ORDEM DAS FAIXAS (CRESCENTE):
    1ª) Branca, 2ª) Cinza, 3ª) Amarela, 4ª) Laranja, 5ª) Verde, 6ª) Azul, 7ª) Roxa, 8ª) Marrom, 9ª) Preta, 10ª) Vermelha
*/
.white_belt { background-color: #ececec; } /* Branca: ffffff */
.gray_belt { background-color: #686969; } /* Cinza: 939597 */
.yellow_belt { background-color: #FECA04; } /* Amarela: FECA04 */
.orange_belt { background-color: #E07E26; } /* Laranja: E07E26 */
.green_belt { background-color: #007F3D; } /* Verde: 007F3D */
.blue_belt { background-color: #1890B9; } /* Azul: 1890B9 */
.purple_belt { background-color: #80298F; } /* Roxa: 80298F */
.brown_belt { background-color: #602D11; } /* Marrom: 602D11 */
.black_belt { background-color: #000000; } /* Preta: 000000 */
.red_belt { background-color: #B01116; } /* Vermelha: B01116 */